@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary_col: #5B21FF;
    --primary_col_dark: #4b11e8;
    --col_blk: #000;
    --col_wht: #fff;
    --col_text_light: #343434;
    --col_text_light_wht: #c9c9c9;
    --body_bg: #6868ff;
    --col_wht_light_bg: #b79dff57;
    --col_wht_light_bg2: #7575ff;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.10),rgba(0,0,0,0.10)),url(/Static/SVG_IMG/bg_img_3.svg);
    background-size: cover;
    background-position: center;
}

.container {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--col_wht);
    border-radius: 15px;
    padding: 40px;
    text-align: center;
}

.content {
    position: relative;
    padding: 20px;
}

.mail_svg img {
    width: 180px;
}

.content h1 {
    font-size: 1.6rem;
    margin-top: 1.2rem;
}

.content h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

.content p {
    font-size: 0.9rem;
}

.content .resendbtn {
    margin-top: 15px;
    height: 40px;
    width: 150px;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 50px;
    background-color: var(--primary_col);
    color: var(--col_wht);
    cursor: pointer;
    transition: 0.3s ease-in;
    border: none;
}

.content .resendbtn:hover {
    background-color: var(--col_wht);
    color: var(--col_blk);
    border: 1px solid var(--primary_col_dark);
}

@media (width < 450px) {
    body {
        background: var(--col_wht);
        padding: 50px;
    }
    .container{
        width: 100%
    }
    .mail_svg img {
        width: 120px;
    }
    .content h1 {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }
    .content h2 {
        font-size: 1.2rem;
        font-weight: 400;
    }
    .content p {
        font-size: .9rem;
    }
}