<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - BookMyMD</title>
    <link rel="icon" type="image/jpg" href="/Static/SVG_IMG/logo_3.png">
    <link rel="stylesheet" href="/Static/CSS/Home_Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <div class="landing_page">
        <section class="Navbar">
            <nav class="navigation">
                <div class="logo">
                    <img src="/Static/SVG_IMG/logo.png" alt="Logo">
                </div>
                <ul class="sidebar">
                    <img onclick="closesidebar()" class="closebaricon" src="/Static/SVG_IMG/close_menu.svg">
                    <li class="sidenav"><a href="/">Home</a></li>
                    <li class="sidenav"><a href="/about">About</a></li>
                    <li class="sidenav"><a href="/doc_login">Doctors</a></li>
                    <li class="sidenav"><a href="/user/home">Appointments</a></li>
                    <li class="sidenav"><a href="">Contact Us</a></li>
                </ul>
                <ul class="nav_links">
                    <li class="nav_links"><a href="/">Home</a></li>
                    <li class="nav_links"><a href="/about">About</a></li>
                    <li class="nav_links"><a href="/doc_login">Doctors</a></li>
                    <li class="nav_links"><a href="/user/home">Appointments</a></li>
                    <li class="nav_links"><a href="">Contact Us</a></li>
                </ul>
                <div class="mnicon">
                    <a href="{% url 'User_Login' %}"><button class="login_btn">Login</button></a>
                    <a href="{% url 'User_Register' %}"><button class="btn reg_btn_active">Register</button></a>
                    <img onclick="showsidebar()" class="menuicon" src="/Static/SVG_IMG/Menu_icon.svg">
                </div>
            </nav>
        </section>

        <div class="container">
            <section class="main_content">
                <header class="header">
                    <div class="content">
                        <h1 style="margin-bottom: 20px; font-size: 20px;">About us</h1>
                        <h1>
                            BookMyMD
                        </h1>
                        <p>At BookMyMD, we believe that access to healthcare should be simple, seamless, and convenient. Our mission is to revolutionize the way people connect with healthcare providers, making it easier for individuals to prioritize their health and well-being. <br><br> Founded on the principle of putting patients first, BookMyMD is a cutting-edge platform designed to streamline the appointment booking process. Whether you're in need of routine check-ups, specialized consultations, or urgent care, we're here to help you find the right medical professional quickly and efficiently. <br><br> With a user-friendly interface and a comprehensive database of trusted healthcare providers, BookMyMD empowers individuals to take control of their health journey. Say goodbye to long waiting times and endless phone calls – our platform simplifies the process, allowing you to book appointments with just a few clicks.</p>
                        <a href="/user/home"><button class="btn book_btn">Book Now</button></a>
                    </div>
                    <div class="main_svg">
                        <img src="/Static/SVG_IMG/about.svg">
                    </div>
                </header>
            </section>
        </div>
    </div> 
</body>
</html>