<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verifiaction Successful - BookMyMD</title>
    <link rel="icon" type="image/png" href="/Static/SVG_IMG/logo_3.png">
    <link rel="stylesheet" href="/Static/CSS/Appointment_Time_Schedule_Style.css">
</head>

<body>
    <div class="container">
        <div class="content">
            <h3>Appointment confirmed</h3>
            <a href="/doc/dashboard/{{doctor}}"><button class="btn">Go to Home</button></a>
        </div>
    </div>
</body>

</html>