<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verified - BookMyMD</title>
    <link rel="icon" type="image/png" href="/Static/SVG_IMG/logo_3.png">
    <link rel="stylesheet" href="/Static/CSS/Email_Verification_Style.css">
</head>
<body>
    <div class="container">
        <div class="mail_svg">
            <img src="/Static/SVG_IMG/doctor_verified.svg" alt="">
        </div>
        <div class="content">
            <h2>Doctor Verified</h2>
            <a href="/staff/home">
                <button class="resendbtn">Go to Home</button>
            </a>
        </div>
    </div>
</body>
</html>