<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification Pending - BookMyMD</title>
    <link rel="icon" type="image/png" href="/Static/SVG_IMG/logo_3.png">
    <link rel="stylesheet" href="/Static/CSS/Email_Verification_Success_Style.css">
</head>
<body>
    <div class="container">
        <div class="mail_svg">
            <img src="/Static/SVG_IMG/email_verification_success.svg" alt="">
        </div>
        <div class="content">
            <h1>Account Verification Pending</h1>
            <p>Thank you for registering with BookMyMD. We are excited to have you join our community. Your account verification is currently pending review by our team. This process ensures the security and accuracy of our platform for all users. We will notify you as soon as your account has been verified.</p>
            <a href="/doc_login">
                <button class="resendbtn">Login</button>
            </a>
        </div>
    </div>
</body>
</html>