<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Profile - BookMyMD</title>
    <link rel="icon" type="image/jpg" href="/Static/SVG_IMG/logo_3.png">
    <link rel="stylesheet" href="/Static/CSS/Staff_Doctor_Profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <img src="/Static/SVG_IMG/logo_2.png" alt="">
            </div>
            <div class="action">
                <a href="/staff/doctor/accept/{{Doctor_Profile_obj.auth_token}}"><button class="btn accept">Accept</button></a>
                <a href="/staff/doctor/reject/{{Doctor_Profile_obj.auth_token}}"><button class="btn reject">Reject</button></a>
            </div>
        </header>

        <section class="user_profile card">
            <div class="profile">
                <img src="/Media/{{Doctor_Profile_obj.profile_picture}}" alt="Profile Image">
            </div>
        </section>

        <section class="Contact_Education card">
            <h1 class="heading">Contact Information</h1>
            <div class="c_e_information">
                <span class="data_head">Email : <span class="data">{{Doctor_Profile_obj.email}}</span></span>
            </div>
            <div class="c_e_information">
                <span class="data_head">Mobile No : <span class="data">{{Doctor_Profile_obj.mob_number}}</span></span>
            </div>
            <div class="c_e_information">
                <span class="data_head">Clinic Mobile No : <span class="data">{{Doctor_Profile_obj.clinic_number}}</span></span>
            </div>
            <div class="c_e_information">
                <span class="data_head">Degree : <span class="data">{{Doctor_Profile_obj.degree}}</span></span>
            </div>
            <div class="c_e_information">
                <span class="data_head">Speciality : <span class="data">{{Doctor_Profile_obj.specialist}}</span></span>
            </div>
            <div class="c_e_information">
                <span class="data_head">Experience : <span class="data">{{Doctor_Profile_obj.experience}} Years</span></span>
            </div>
            <div class="c_e_information">
                <span class="data_head">Registration No : <span class="data">{{Doctor_Profile_obj.reg_number}}</span></span>
            </div>
            <div class="c_e_information">
                <span class="data_head">Fees : <span class="data">₹ {{Doctor_Profile_obj.fees}}</span></span>
            </div>
            <div class="c_e_information">
                <span class="data_head">Days Available : <span class="data">{{Doctor_Profile_obj.days_available}}</span></span>
            </div>
            <div class="c_e_information">
                <span class="data_head"><a href="/Media/{{Doctor_Profile_obj.degree_upload}}">Click here to see Degree</a></span>
            </div>
        </section>

        <section class="user_details card">
            <div class="details">
                <h1>{{Doctor_Profile_obj.full_name}}</h1>
                <div class="info">
                    <span class="data_head">Father Name : <span class="data">{{Doctor_Profile_obj.father_name}}</span></span>
                </div>
                <div class="info">
                    <span class="data_head">Date of Birth : <span class="data">{{Doctor_Profile_obj.dob}}</span></span>
                </div>
                <div class="info">
                    <span class="data_head">Gender : <span class="data">{{Doctor_Profile_obj.gender}}</span></span>
                </div>
            </div>
            <div class="info">
                <span class="data_head">Bio :</span>
                <span class="data">{{Doctor_Profile_obj.bio}}</span>
            </div>
        </section>

        <section class="address_info card">
            <div class="personal_address_info">
                <h1 class="heading">
                    Personal Address
                </h1>
                <div class="add_info">
                    <span class="data_head">Address Line 1 : <span class="data">{{Doctor_Profile_obj.add_line_1}}</span></span>
                </div>
                <div class="add_info">
                    <span class="data_head">Address Line 2 : <span class="data">{{Doctor_Profile_obj.add_line_2}}</span></span>
                </div>
                <div class="add_info">
                    <span class="data_head">landmark : <span class="data">{{Doctor_Profile_obj.landmark}}</span></span>
                </div>
                <div class="add_info">
                    <span class="data_head">City : <span class="data">{{Doctor_Profile_obj.city}}</span></span>
                </div>
                <div class="add_info">
                    <span class="data_head">State : <span class="data">{{Doctor_Profile_obj.state}}</span></span>
                </div>
                <div class="add_info">
                    <span class="data_head">Pincode : <span class="data">{{Doctor_Profile_obj.pincode}}</span></span>
                </div>
            </div>
            <div class="hospital_address_info">
                <h1 class="heading">Hospital Address</h1>
                <div class="add_info">
                    <span class="data_head">Hospital Name : <span class="data">{{Doctor_Profile_obj.hospital_name}}</span></span>
                </div>
                <div class="add_info">
                    <span class="data_head">Hospital Address : <span class="data">{{Doctor_Profile_obj.hospital_address}}</span></span>
                </div>
                <div class="add_info">
                    <span class="data_head">State : <span class="data">{{Doctor_Profile_obj.hospital_state}}</span></span>
                </div>
                <div class="add_info">
                    <span class="data_head">Pincode : <span class="data">{{Doctor_Profile_obj.hospital_pincode}}</span></span>
                </div>
            </div>
        </section>
    </div>
</body>
</html>