<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Profile - BookMyMD</title>
    <link rel="icon" type="image/jpg" href="/Static/SVG_IMG/logo_3.png">
    <link rel="stylesheet" href="/Static/CSS/USer_Doctor_Profile_Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <img src="/Static/SVG_IMG/logo_2.png" alt="">
            </div>
        </header>

        <section class="user_profile card">
            <div class="profile">
                <img src="/Media/{{Doctor_Profile_obj.profile_picture}}" alt="Profile Image">
            </div>
        </section>

        <section class="Contact_Education card">
            <h1 class="heading">Information</h1>
            <div class="c_e_information">
                <span class="data_head">Clinic Mobile No : <span class="data">{{Doctor_Profile_obj.clinic_number}}</span></span>
            </div>
            <div class="c_e_information">
                <span class="data_head">Degree : <span class="data">{{Doctor_Profile_obj.degree}}</span></span>
            </div>
            <div class="c_e_information">
                <span class="data_head">Speciality : <span class="data">{{Doctor_Profile_obj.specialist}}</span></span>
            </div>
            <div class="c_e_information">
                <span class="data_head">Experience : <span class="data">{{Doctor_Profile_obj.experience}} Years</span></span>
            </div>
            <div class="c_e_information">
                <span class="data_head">Fees : <span class="data">₹ {{Doctor_Profile_obj.fees}}</span></span>
            </div>
            <div class="c_e_information">
                <span class="data_head">Days Available : <span class="data">{{Doctor_Profile_obj.days_available}}</span></span>
            </div>
        </section>

        <section class="user_details card">
            <div class="details">
                <h1 class="heading">Dr. {{Doctor_Profile_obj.full_name}}</h1>
            </div>
            <div class="info">
                <span class="data">{{Doctor_Profile_obj.bio}}</span>
            </div>
            <div class="hospital_address_info">
                <h1 class="heading">Hospital Address</h1>
                <div class="add_info">
                    <span class="data_head">Hospital Name : <span class="data">{{Doctor_Profile_obj.hospital_name}}</span></span>
                </div>
                <div class="add_info">
                    <span class="data_head">Hospital Address : <span class="data">{{Doctor_Profile_obj.hospital_address}}</span></span>
                </div>
                <div class="add_info">
                    <span class="data_head">State : <span class="data">{{Doctor_Profile_obj.hospital_state}}</span></span>
                </div>
                <div class="add_info">
                    <span class="data_head">Pincode : <span class="data">{{Doctor_Profile_obj.hospital_pincode}}</span></span>
                </div>
            </div>
        </section>

        <section class="booking_form card">
            <div class="booking_info">
                <h1 class="heading">Booking Information</h1>
                <form action="{% url 'Appointment_Pending' %}" method="get">
                    <div class="fields">
                        <div class="input_field">
                            <label>Name</label>
                            <input type="text" name="name" required>
                        </div>
                        <div class="input_field">
                            <label>Appointment Date</label>
                            <input type="date" id="txtDate" name="appointment_date" />
                        </div>
                        <div class="input_field">
                            <label>Enter Mobile Number</label>
                            <input type="number" name="number" required>
                        </div>
                        <div class="input_field">
                            <label>Alternate Mobile Number</label>
                            <input type="number" name="alt_number" required>
                        </div>
                        <div class="input_field">
                            <input type="text" name="id" value="{{Doctor_Profile_obj.auth_token}}" hidden>
                        </div>
                    </div>
                    <button type="submit" class="book_sub_btn">Book</button>
                </form>
            </div>
        </section>
    </div>

    <script>
    $(function(){
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if(month < 10)
            month = '0' + month.toString();
        if(day < 10)
            day = '0' + day.toString();

        var minDate= year + '-' + month + '-' + day;

        $('#txtDate').attr('min', minDate);
    });
    </script>
</body>
</html>